body {
    background-image: url("https://telegra.ph/file/aeb35f6a9543c62373e3f.jpg");
    background-size: cover;
}

.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 20px;
}